<div class="nav__image-home jumbotron">
  <div class="nav__header-blue-home">
      <h1 class="header__text-h1">Welcome! Class is in session.</h1>
      <p>Online lessons from a certified teacher specializing in Kindergarten through 5th Grade.</p>
  </div>
</div>
   <%= render 'shared/flashes' %>
<div class="container ">
  <section class="hero-section ">
    <div class="hero col-xl-12">
      <%= image_tag "profile-img-sm.png", class:"profile-img " %>
      <div class="hero__content">
        <h3 class="hero__content-h3">Meet Mrs. Abowd</h3>
        <p class="hero__content-p">Teacher turned developer, I have a passion for helping others. I've been an elementary school teacher for ten years and have taught both first and second grade. I've transitioned from helping students in the classroom, to helping students over the web.</p>
      </div>
    </div>
  </section>
  <section >
    <h3 class="steps_container-h3 align-center margin-top-50">I provide two learning options to assist your child with their education:</h3>
    <div class="steps_container--grid margin-top-50 mx-auto col-xl-12">
      <div class="paint-splash-img ">
        <%= image_tag "paint-splash-2.svg", class:"image img-fluid" %>
        <div class="learn_more-text col-xl-6">
          <p class="">Private 30 minute tutoring&nbsp;sessions</p>
          <%= link_to "Learn More", tutoring_path,class: "learn_more-link"%>
        </div>
      </div>
      <div class="paint-splash-img ">
        <%= image_tag "paint-splash-1.svg", class:"image img-fluid" %>
        <div class="learn_more-text col-xl-6">
          <p>Access to online learning&nbsp;resources</p>
          <%= link_to "Learn More", resources_path,class: "learn_more-link"%>
        </div>
      </div>
    </div>
  </section>
  <section class="contact_form_section margin-top-100 col-xl-12 ">
    <div class="contact_form-yellow col-xl-8">
      <h3>Not sure where to start?</h3>
      <p>Contact to schedule an appointment! We'll work together to develop a custom learning plan.</p>
      <%= render 'contact/contact_form' %>
    </div>
  </section>
  <div class="splash-blue-lg">
    <%= image_tag "paint-splash-lg.svg", class:"image img-fluid" %>
    <div class="quote__text">
      <p>"Today is a great day,<br> to learn something new."</p>

    </div>
  </div>
</div>
