<div class="nav__image-home jumbotron">
  <div class="nav__header-blue-home">
    <h1 class="header__text-h1">Welcome! Class is in session.</h1>
    <p>Online lessons from a certified teacher specializing in Kindergarten through 5th Grade.</p>
  </div>
</div>

<div class="container">
  <section class="hero-section ">
    <div class="hero col-xl-12">
      <%= image_tag "profile-img-sm.png", class:"profile-img" %>
      <div class="hero__content">
        <h3 class="hero__content-h3">Meet Mrs. Abowd</h3>
        <p class="hero__content-p">Teacher turned developer, I have a passion for helping others. I've been an elementary school teacher for ten years and have taught both first and second grade. I've transitioned from helping students in the classroom, to helping students over the web.</p>
      </div>
    </div>
  </section>
  <section class="steps_container cursor">
    <h3 class="steps_container-h3">I provide two learning options to assist your child with their education:</h3>
    <div class="steps_container--grid col-xl-12">
      <div class="paint-splash-img col-xl-4">
        <%= image_tag "paint-splash-2.svg", class:"image" %>
        <div class="steps__text bold700">
          <p class="width100">Private 30 minute tutoring sessions</p>
          <%= link_to "Learn More", tutoring_path,class: "learn_more-link"%>
        </div>
      </div>
      <div class="paint-splash-img col-xl-4">
        <%= image_tag "paint-splash-1.svg", class:"image" %>
        <div class="steps__text bold700">
          <p>Access to online learning resources</p>
          <%= link_to "Learn More", resources_path,class: "learn_more-link"%>
        </div>
      </div>
    </div>
  </section>
  <section class="contact_form_section col-xl-12 ">
    <div class="contact_form-yellow col-xl-8">
      <h3>Not sure where to start?</h3>
      <p>Contact to schedule an appointment! We'll work together to develop a custom learning plan.</p>
      <%= render 'contact/contact_form' %>
    </div>
  </section>
  <div class="splash-blue-lg">
    <%= image_tag "paint-splash-blue-lg.svg", class:"image" %>
    <div class="quote__text">
      <p>"Today is a <br> great day,<br> to learn <br> something <br> new."</p>

    </div>
  </div>
</div>
